<section>
  <h5 mat-dialog-title mat-card-title>Remision De Salida {{result[0].checkOutRemision}} </h5>

      <!--mat dialog content-->
      <mat-dialog-content mat-card-content>
        <p>
          {{message}}
        </p>

          <div class="row" *ngFor="let item of map | keyvalue">
            <div class="col-sm-12">Remision : {{item.key}} Total :
              <nb-tag status="primary" size="small" appearance="filled" text={{item.value.length}}></nb-tag>

            </div>

          </div>


      </mat-dialog-content>
      <!-- mat dialog content -->


      <mat-dialog-actions align="end">
        <button mat-flat-button [mat-dialog-close]="false" color="primary" >Cancelar</button>
        <button mat-flat-button color="warn" cdkFocusInitial style="float: left;" [disabled]="!disabled" (click)="guardar()">Si, Guardar</button>
      </mat-dialog-actions>

</section>
