table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 35%;
}

td, th {
  width: 5%;
}
button {
  margin-right: 8px;
}
.example-card {
  max-width: 50%;
}

mat-grid-tile {
  background: lightblue;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container .mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}
.mat-column-Id {
  flex: 0 0 10%;
}
.mat-column-direccion {
  flex: 0 0 50%;
}

tr.mat-row {
  border: 1px  border #ec0606;
  height: 25px !important;
}

