<section >
  <form [formGroup]="palletForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Pallet</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-subtitle><h6>Agregar Pallets</h6></mat-card-subtitle>
    <mat-card-content>
      <!--mat dialog content-->
      <mat-dialog-content >

      <!-- grid -->
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>No: Pallet</mat-label>
              <input matInput  formControlName="noPallet"
               placeholder="Digita número de pallet" [ngClass]="{ 'is-invalid':
               submitted && f.noPallet.errors }">
              <mat-error *ngIf="submitted && f.noPallet.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Cantidad</mat-label>
              <input matInput  formControlName="amount"
               placeholder="Digita número de pallet" [ngClass]="{ 'is-invalid':
               submitted && f.amount.errors }">
              <mat-error *ngIf="submitted && f.amount.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>UM</mat-label>
              <input matInput  formControlName="um"
               placeholder="Digita número de pallet" [ngClass]="{ 'is-invalid':
               submitted && f.um.errors }">
              <mat-error *ngIf="submitted && f.um.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Lote</mat-label>
              <input matInput  formControlName="lote"
               placeholder="Digita número de pallet" [ngClass]="{ 'is-invalid':
               submitted && f.lote.errors }">
              <mat-error *ngIf="submitted && f.lote.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Caducidad</mat-label>

              <input matInput type="date" formControlName="expiration"
               placeholder="Digita número de pallet" [ngClass]="{ 'is-invalid':
               submitted && f.expiration.errors }">
              <mat-error *ngIf="submitted && f.expiration.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>
      </mat-dialog-content>
      <!-- mat dialog content -->

    </mat-card-content>

    <!-- actions -->
    <mat-card-actions align="end">
      <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" cdkFocusInitial>{{actionBtn}}</button>
      </mat-dialog-actions>
    </mat-card-actions>
    <!--end actions -->
  </mat-card>
</form>
</section>
<mat-divider></mat-divider>
<section ng *ngIf="pallets.length>0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="noPallet">
            <th mat-header-cell *matHeaderCellDef> No.Pallet </th>
            <td mat-cell *matCellDef="let element"> {{element.noPallet}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="um">
            <th mat-header-cell *matHeaderCellDef> UM </th>
            <td mat-cell *matCellDef="let element"> {{element.um}} </td>
          </ng-container>

          <ng-container matColumnDef="expiration">
            <th mat-header-cell *matHeaderCellDef> Caducidad </th>
            <td mat-cell *matCellDef="let element"> {{element.expiration}} </td>
          </ng-container>

          <ng-container matColumnDef="lote">
            <th mat-header-cell *matHeaderCellDef> Lote </th>
            <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef > ACCIONES </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="deletePallet(element)">
              <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <button (click)='guardarPallets()'>add</button>
</section>




