<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>

    <a class="logo" href="#" (click)="navigateHome()"><span>CLT-ADMIN</span>
    </a>

  </div>
<!--
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>

  </nb-select>
-->



</div>
<nb-actions>
    <nb-action>
      <form>
        <mat-form-field #field  appearance="legacy">
          <mat-label>Cliente</mat-label>
          <input type="text"
                placeholder="Selecciona Cliente"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="autoClient"
                >
          <mat-autocomplete #autoClient="matAutocomplete"
          (optionSelected)="optionSelected($event.option.value)"
          [displayWith]="displayProperty">
          <mat-option *ngFor="let option of filteredClients | async" [value]="option">
             {{option.name}}
          </mat-option>
          </mat-autocomplete>
          </mat-form-field>
      </form>
      <button mat-icon-button color="warn" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <nb-badge *ngIf="currentClient" text="Cliente Seleccionado : {{currentClient}}" status="success" style="position:sticky;"></nb-badge>
      <nb-badge *ngIf="!currentClient" text="Selecciona Un Cliente" status="danger" style="position:sticky;"></nb-badge>
    </nb-action>
    <nb-action class="user-action">
        <nb-user [nbContextMenu]="userMenu" [name]="username"></nb-user>
      </nb-action>
    </nb-actions>

