
<section>
  <mat-stepper>
    <mat-step label="Step 1" state="phone">
      <!--Init buscador-->
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
          <nb-card status="primary"   [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Cargando ...">
            <nb-card-header>Busqueda</nb-card-header>
            <nb-card-body>
            <!-- grid -->
              <div class="row">

                <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field>
                  <mat-label>Tipo de Busqueda</mat-label>
                  <input type="text" matTooltip="Despegable" placeholder="Selecciona busqueda" aria-label="Number"
                          matInput formControlName="typeSearchControl" [matAutocomplete]="autoTypeSearch">

                  <mat-autocomplete #autoTypeSearch="matAutocomplete" (optionSelected)="optionSelectedTypeSearch($event)"
                                    [displayWith]="displayPropertyTypeSearch">
                    <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
                  </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-sm-3" *ngIf="fechaVisible">
              <div class="form-group">
                <mat-form-field appearance="legacy">
                <mat-label>Fecha</mat-label>
                <input type="date" matInput formControlName="date" placeholder="Digita Fecha"
                    [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                    <mat-error *ngIf="submitted && f.date.errors">Campo Requerido</mat-error>
                </mat-form-field>
              </div>
              </div>

              <div class="col-sm-3" *ngIf="remisionVisible">
              <div class="form-group">
                <mat-form-field appearance="legacy">
                <mat-label>Remision</mat-label>
                  <input  matInput formControlName="remision" placeholder="Remision"
                  [ngClass]="{ 'is-invalid': submitted && f.remision.errors }">
                  <mat-error *ngIf="submitted && f.remision.errors">Campo Requerido</mat-error>
                </mat-form-field>
              </div>
              </div>

              <div class="col-sm-3" *ngIf="transportLines.length>0 && transportLineVisible">
              <div class="form-group">
                <mat-form-field class="example-full-width" #field floatLabel="always" appearance="legacy" >
                <mat-label>Linea de Transporte</mat-label>
                <input type="text" matTooltip="Despegable" placeholder="Selecciona Linea de Transporte"
                  matInput formControlName="transportLine" [matAutocomplete]="autoTransportLine"
                  [ngClass]="{ 'is-invalid': submitted && f.transportLine.errors }">
                  <mat-autocomplete #autoTransportLine="matAutocomplete" (optionSelected)="optionSelectedTransportLine($event.option.value)"
                      [displayWith]="displayPropertyTransportLine">
                      <mat-option *ngFor="let option of filteredTransportLines | async" [value]="option">{{option.name}}</mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="submitted && f.transportLine.errors" >Campo Requerido</mat-error>
                </mat-form-field>
              </div>
              </div>

              <div class="col-sm-3" *ngIf="products.length>0 && productVisible">
              <div class="form-group">
                <mat-form-field class="example-full-width" #field floatLabel="always" appearance="legacy" >
                <mat-label>Producto</mat-label>
                <input type="text" matTooltip="Despegable" placeholder="Selecciona Producto"
                  matInput formControlName="product" [matAutocomplete]="autoTransportLine" [ngClass]="{ 'is-invalid': submitted && f.product.errors }">
                  <mat-autocomplete #autoTransportLine="matAutocomplete" (optionSelected)="optionSelectedProduct($event.option.value)"
                    [displayWith]="displayPropertyProduct">
                    <mat-option *ngFor="let option of filteredProduct | async" [value]="option">{{option.name}}</mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="submitted && f.product.errors" >Campo Requerido</mat-error>
                </mat-form-field>
              </div>
              </div>

              <div class="col-sm-3" *ngIf="loteVisible">
              <div class="form-group">
                <mat-form-field appearance="legacy">
                <mat-label>Lote</mat-label>
                <input  matInput formControlName="lote" placeholder="lote" [ngClass]="{ 'is-invalid': submitted && f.lote.errors }">
                        <mat-error *ngIf="submitted && f.lote.errors">Campo Requerido</mat-error>
                </mat-form-field>
              </div>
              </div>
            </div>

            <mat-dialog-actions align="end">
              <button nbButton hero shape="semi-round" size="small" status="danger" [mat-dialog-close]="false" (click)="limpiar()">Limpiar</button>
              <button type="submit" [disabled]="loading" nbButton  hero shape="semi-round" size="small" status="primary"
                      cdkFocusInitial style="float: left;">{{actionBtn}}
              </button>
            </mat-dialog-actions>
          </nb-card-body>
          </nb-card>
        </mat-dialog-content>
      </form>
      <!--End buscador-->
      <!-- init table disponibles-->
      <nb-card status="primary" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Cargando ...">
        <nb-card-header>Pallets Disponibles</nb-card-header>
        <nb-card-body>
        <section>
          <!-- filter -->
          <mat-form-field appearance="standard">
            <mat-label>Buscar </mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
          </mat-form-field>
          <!-- end filter -->
          <div class="mat-elevation-z8">
          <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" >
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef >ID</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>PRODUCTO</th>
              <td mat-cell *matCellDef="let element">{{element.product.name}}</td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
              <td mat-cell *matCellDef="let element">{{element.checkList.date}}</td>
            </ng-container>

            <ng-container matColumnDef="remision">
              <th mat-header-cell *matHeaderCellDef >REMISION</th>
              <td mat-cell *matCellDef="let element">{{element.checkList.remision}}</td>
            </ng-container>

            <ng-container matColumnDef="transportLine">
              <th mat-header-cell *matHeaderCellDef >TRANSPORTE</th>
              <td mat-cell *matCellDef="let element">{{element.checkList.transportLine.name}}</td>
            </ng-container>

            <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>CODIGO</th>
            <td mat-cell *matCellDef="let element">{{element.product.code}}</td>
            </ng-container>

            <ng-container matColumnDef="ua">
              <th mat-header-cell *matHeaderCellDef>LINCENCIA</th>
              <td mat-cell *matCellDef="let element">{{element.ua}}</td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
              <td mat-cell *matCellDef="let element">{{element.amount}}</td>
            </ng-container>

            <ng-container matColumnDef="um">
              <th mat-header-cell *matHeaderCellDef>UM</th>
              <td mat-cell *matCellDef="let element">{{element.um.name}}</td>
            </ng-container>

            <ng-container matColumnDef="lote">
              <th mat-header-cell *matHeaderCellDef>LOTE</th>
              <td mat-cell *matCellDef="let element">{{element.lote}}</td>
            </ng-container>

            <ng-container matColumnDef="expiration">
              <th mat-header-cell *matHeaderCellDef>CADUCIDAD</th>
              <td mat-cell *matCellDef="let element">{{element.expiration}}</td>
            </ng-container>

            <ng-container matColumnDef="amountStock">
              <th mat-header-cell *matHeaderCellDef >STOCK</th>
              <td mat-cell *matCellDef="let element">{{element.amountStock}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
            <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="salidaPallet(element)"><mat-icon>edit</mat-icon></button>
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron coincidencias "{{input.value}}"</td>
            </tr>
          </table>
          <!--Paginator -->
          <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina"
                [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOptions"
                (page)="paginar($event)" aria-label="arialLabel"
                showFirstLastButtons>
          </mat-paginator>
          <!--End Paginator -->
          </div>
        </section>
      </nb-card-body>
      </nb-card>
      <!-- End table dsponibles-->
      <section *ngIf="selection.selected.length>0">
        <div class="example-button-row">
          <button nbButton matStepperNext hero shape="semi-round" size="small" status="primary"  (click)="generarFormulario()" >Siguiente {{selection.selected.length}}</button>
        </div>
      </section>
    </mat-step>

    <mat-step label="Step 2" state="chat">

      <div *ngIf="attachmentArP.length>0">
        <form [formGroup]="detailForm" (ngSubmit)="onSubmitDetail()">
          <nb-card status="primary" *ngIf="detailForm">
            <nb-card-header>Agrega Pallets
              <nb-badge text={{attachmentArP?.length}} status="success" style="position: relative;"></nb-badge>
            </nb-card-header>
            <nb-card-body>

            <div formArrayName="items" *ngFor="let creds of detailForm.get('items')?.['controls']; let i = index">
              <div class="row col-lg-12" [formGroupName]="i">
              <div class="col-sm-2">
                  <mat-form-field appearance="legacy">
                    <mat-label>Fecha</mat-label>
                    <input matInput  formControlName="date">
                  </mat-form-field >
              </div>

              <div class="col-sm-2">
                  <mat-form-field appearance="legacy">
                    <mat-label>Remision</mat-label>
                    <input matInput  formControlName="remision">
                  </mat-form-field >
              </div>

              <div class="col-sm-2">
                <mat-form-field appearance="legacy">
                  <mat-label>Licencia</mat-label>
                  <input matInput  formControlName="licencia">
                </mat-form-field >
              </div>

              <div class="col-sm-2">
                <mat-form-field appearance="legacy">
                  <mat-label>Producto</mat-label>
                  <input matInput  formControlName="producto">
                </mat-form-field >
              </div>

              <div class="col-sm-2">
                <mat-form-field appearance="legacy">
                  <mat-label>Stock * Tarima</mat-label>
                  <input matInput  formControlName="amount">
                  <mat-hint>Stock: {{creds.controls.amount.value}}</mat-hint>
                  <mat-error *ngIf="creds.controls.amount.errors?.numeric">Valor numerico  </mat-error>
                  <mat-error *ngIf="creds.controls.amount.errors?.maxNumber">La cantidad supera al stock</mat-error>
                  <mat-error *ngIf="creds.controls.amount.errors?.required">Valor Requerido</mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-1">
                <button mat-icon-button color="warn" (click)="removeItem(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div class="col-sm-2" *ngIf="disables">
                <mat-form-field appearance="legacy">
                    <mat-label>checkOutId</mat-label>
                      <input matInput hidden formControlName="checkOutId">
                </mat-form-field >
              </div>

              <div class="col-sm-1" *ngIf="disables">
                  <mat-form-field appearance="legacy">
                    <mat-label>PalletId</mat-label>
                      <input matInput hidden formControlName="palletId">
                  </mat-form-field>
              </div>

              <div class="col-sm-1" *ngIf="disables">
                <mat-form-field appearance="legacy">
                  <mat-label>CheckListId</mat-label>
                    <input matInput hidden formControlName="checkListId">
                </mat-form-field>
            </div>
            </div>

          <mat-divider></mat-divider>

          <br>
            </div>
            <!-- end grid-->
              <div>
                <button nbButton type="submit" hero shape="semi-round" size="small" status="primary">Guardar</button>
              </div>
            </nb-card-body>
            </nb-card>
          </form>
      </div>
      <div>
        <button type="button" nbButton matStepperPrevious hero shape="semi-round" size="small" status="warning"  (click)="limpiarDeatail()">Siguiente</button>
        <button type="button" nbButton matStepperNext hero shape="semi-round" size="small" status="primary">Guardar</button>
      </div>

    </mat-step>
    <mat-step label="Step 3">
      <nb-card status="primary">
        <nb-card-header>Pallets Registrados</nb-card-header>
        <nb-card-body>
          <section *ngIf="selection.selected.length>0">
            <div class="example-button-row">
              <button nbButton  hero shape="semi-round" size="small" status="primary"  (click)="save()" >Agregar {{selection.selected.length}}</button>
            </div>
          </section>
            <section>
                <!-- filter -->
                <mat-form-field appearance="standard">
                    <mat-label>Buscar </mat-label>
                    <input matInput (keyup)="applyFilterRegistered($event)" placeholder="Search" #input>
                </mat-form-field>
                <!-- end filter -->
                <div class="mat-elevation-z8">
                  <table mat-table *ngIf="dataSourceRegistered" [dataSource]="dataSourceRegistered" matSort (matSortChange)="sortDataRegisted($event)" >

                    <ng-container matColumnDef="remision">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header >REMISION</th>
                      <td mat-cell *matCellDef="let element">{{element.checkList.remision}}</td>
                    </ng-container>

                    <ng-container matColumnDef="transportLine">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>TRANSPORTE</th>
                      <td mat-cell *matCellDef="let element"> {{element.checkList.transportLine.name}}  </td>
                    </ng-container>

                    <ng-container matColumnDef="ua">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header >LICENCIA</th>
                      <td mat-cell *matCellDef="let element">{{element.ua}}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > PRODUCTO </th>
                      <td mat-cell *matCellDef="let element"> {{element.product.name}}  </td>
                    </ng-container>

                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > CODIGO </th>
                      <td mat-cell *matCellDef="let element"> {{element.product.code}}  </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > CANTIDAD </th>
                      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>


                    <ng-container matColumnDef="stock">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > STOCK </th>
                      <td mat-cell *matCellDef="let element"> {{element.amountStock}} </td>
                    </ng-container>
                    <ng-container matColumnDef="um">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > UNIDAD </th>
                      <td mat-cell *matCellDef="let element"> {{element.um.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="lote">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > LOTE </th>
                      <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef > ACCIONES </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="eliminarPallet(element.id,element.palletDetail.id)"><mat-icon>edit</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsRegistered"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRegistered;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontraron coincidencias "{{input.value}}"</td>

                    </tr>
                  </table>
                <!--Paginator -->

                <mat-paginator [length]="totalRegistrosRegistered" [pageSize]="totalPorPaginaRegistered"
                              [pageIndex]="paginaActualRegistered" [pageSizeOptions]="pageSizeOptions"
                              (page)="paginar($event)" aria-label="arialLabel"
                              showFirstLastButtons>
                </mat-paginator>
                <!--End Paginator -->
                </div>
            </section>
        </nb-card-body>
      </nb-card>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-stepper>
  </section>



