<section>
  <form [formGroup]="transportCapacityForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>{{titulo}}</mat-card-title>
    <mat-card-content>
      <!--mat dialog content-->
      <mat-dialog-content >

      <!-- grid -->
      <div class="row">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Capacidad de transporte</mat-label>
              <input matInput  formControlName="capacity" placeholder="Digita Capacidad" [ngClass]="{ 'is-invalid': submitted && f.capacity.errors }">
              <mat-error *ngIf="submitted && f.capacity.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field #field floatLabel="always" appearance="outline" class="radio-container">
              <mat-label>Unidad</mat-label>
              <input matInput hidden formControlName="unity">
              <mat-radio-group  class="flex-wrap" formControlName="unity" [ngClass]="{ 'is-invalid': submitted && f.unity.errors }">
                <mat-radio-button  class="radio-button" value="PIES"  [checked]="isUnity==='PIES'">PIES</mat-radio-button>
                <mat-radio-button  class="radio-button" value="TONELADAS" [checked]="isUnity==='TONELADAS'">TONELADAS</mat-radio-button>
              </mat-radio-group>
              <mat-error>Campo Requerio</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field #field floatLabel="always" appearance="outline" class="radio-container">
              <mat-label>Activo</mat-label>
              <input matInput hidden formControlName="isActive">
              <mat-radio-group  class="flex-wrap" formControlName="isActive" [ngClass]="{ 'is-invalid': submitted && f.isActive.errors }">
                <mat-radio-button  class="radio-button" [value]="true"  [checked]="isChecked===true">Activo</mat-radio-button>
                <mat-radio-button  class="radio-button" [value]="false" [checked]="isChecked===false">Inactivo</mat-radio-button>
              </mat-radio-group>
              <mat-error>Campo Requerio</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field class="example-full-width" #field floatLabel="always" appearance="outline" >
              <mat-label>Number</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     formControlName="transportType"
                     [matAutocomplete]="auto"
                     [ngClass]="{ 'is-invalid': submitted && f.transportType.errors }">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event.option.value)" [displayWith]="displayProperty">
                <mat-option *ngFor="let option of transportTypes" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="submitted && f.transportType.errors" >Campo Requerido</mat-error>
            </mat-form-field>
            </div>
          </div>
      </div>
      <!-- end grid-->

      </mat-dialog-content>
      <!-- mat dialog content -->

    </mat-card-content>

    <!-- actions -->
    <mat-card-actions align="end">
      <mat-dialog-actions align="end">
        <button mat-flat-button [mat-dialog-close]="false" color="warn" >Cancelar</button>
        <button mat-flat-button color="primary" cdkFocusInitial>{{actionBtn}}</button>
      </mat-dialog-actions>
    </mat-card-actions>
    <!--end actions -->
  </mat-card>
</form>
  </section>
