@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

:host ::ng-deep nb-stepper .step-content {
  text-align: center;
  height: 100%;
  width: 100%;
  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

@include nb-install-component() {
  ngx-charts-bar-vertical-2d,
  ngx-charts-number-card,
  .chart-info {
    flex: 1;
  }

  .chart-info {
    padding-top: 0.4rem;
  }

  .time-period {
    margin-top: 1.5rem;
  }

  .value {
    margin-top: 0.2rem;
  }

  .echart {
    position: absolute;
    width: calc(50% - 1.25rem);
    height: calc(100% - 2rem);
  }

  @include media-breakpoint-between(xl, xl) {
    ngx-charts-bar-vertical-2d {
      flex: 2;
    }
  }

  @include media-breakpoint-between(sm, sm) {
    ngx-charts-bar-vertical-2d {
      flex: 2;
    }
  }
}

@include nb-install-component() {

  ngx-charts-advanced-pie-chart {



    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      text {
        fill: nb-theme(text-hint-color);
      }

      .total-value,
      .item-value,
      .item-percent {
        line-height: 1.20;
      }

      .legend-items {
        overflow-y: hidden;
      }
    }
  }
}
