<section >
  <form [formGroup]="checkListForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Check List</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-subtitle><h6>Datos generales</h6></mat-card-subtitle>
    <mat-card-content>
      <!--mat dialog content-->
      <mat-dialog-content >

      <!-- grid -->
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>No: Remision/Delivery/Factura</mat-label>
              <input matInput  formControlName="remision" placeholder="Digita Remision/Delivery/Factura" [ngClass]="{ 'is-invalid':
               submitted && f.remision.errors }">
              <mat-error *ngIf="submitted && f.remision.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label >Fecha</mat-label>
              <input [disabled]="true" matInput  formControlName="date"  [matDatepicker]="picker3" [value]="date.value">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle [disabled]="true" matSuffix [for]="picker3" ></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Hora</mat-label>
              <input matInput type="time"  formControlName="hours" placeholder="Escribe aquí ... " matTooltip="Formato de 24 Horas">
              <mat-hint>HH/MM 24HRS</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-3">

        <div class="form-group">

          <mat-form-field class="example-full-width" #field floatLabel="always" appearance="outline" >
          <mat-label>Cliente</mat-label>
          <input type="text"
                 placeholder="Selecciona Cliente"
                 aria-label="Cliente"
                 matInput
                 formControlName="partner"
                 [matAutocomplete]="auto"
                 [ngClass]="{ 'is-invalid': submitted && f.partner.errors }">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event.option.value)" [displayWith]="displayProperty">
            <mat-option *ngFor="let option of clients" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="submitted && f.partner.errors" >Campo Requerido</mat-error>
        </mat-form-field>
        </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <mat-card-subtitle> <h6>Datos de Transporte </h6></mat-card-subtitle>


      <div class="row">

       <div class="col-sm-3">
          <div class="form-group">
        <mat-form-field class="example-full-width" #field floatLabel="always" appearance="outline" >
          <mat-label>Linea de Transporte</mat-label>
          <input type="text"
                 placeholder="Selecciona Linea de Transporte"
                 aria-label="Linea de Transporte"
                 matInput
                 formControlName="transportLine"
                 [matAutocomplete]="autoTransportLine"
                 [ngClass]="{ 'is-invalid': submitted && f.transportLine.errors }">
          <mat-autocomplete #autoTransportLine="matAutocomplete"
          (optionSelected)="optionSelectedTransportLine($event.option.value)"
          [displayWith]="displayPropertyTransportLine">
            <mat-option *ngFor="let option of transportLines" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="submitted && f.transportLine.errors" >Campo Requerido</mat-error>
        </mat-form-field>
        </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
        <mat-form-field appearance="legacy">
          <mat-label>Operador</mat-label>
          <input matInput  formControlName="operator" placeholder="Digita Operador"
           [ngClass]="{ 'is-invalid': submitted && f.operator.errors }">
          <mat-error *ngIf="submitted && f.operator.errors" >Campo Requerido</mat-error>
        </mat-form-field>
         </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field class="example-full-width" #field floatLabel="always" appearance="outline" >
            <mat-label>Tipo de Transporte</mat-label>
            <input type="text"
                  placeholder="Selecciona Tipo de Transporte"
                  aria-label="Tipo de Transporte"
                  matInput
                  formControlName="tipoTransporte"
                  [matAutocomplete]="autoTransportType"
                  [ngClass]="{ 'is-invalid': submitted && f.tipoTransporte.errors }">
            <mat-autocomplete #autoTransportType="matAutocomplete"
            (optionSelected)="optionSelectedTransportType($event.option.value)"
            [displayWith]="displayPropertyTransportType">
            <mat-option *ngFor="let option of transportTypes" [value]="option">
               {{option.name}}
            </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && f.tipoTransporte.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field class="example-full-width" #field floatLabel="always" appearance="outline">
            <mat-label>Capacidad de Transporte</mat-label>
            <input type="text"
                  placeholder="Selecciona Capacidad de Transporte"
                  aria-label="Capacidad de Transporte"
                  matInput
                  formControlName="transportCapacity"
                  [matAutocomplete]="autoTransportCapacity"
                  [ngClass]="{ 'is-invalid': submitted && f.transportCapacity.errors }">
            <mat-autocomplete #autoTransportCapacity="matAutocomplete"
            (optionSelected)="optionSelectedTransportCapacity($event.option.value)"
            [displayWith]="displayPropertyTransportCapacity">
            <mat-option *ngFor="let option of transportCapacities" [value]="option">
               {{option.capacity}}  |  {{option.unity}}
            </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && f.transportCapacity.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>


      <div class="row">

         <div class="col-sm-3">
            <div class="form-group">
            <mat-form-field appearance="legacy">
            <mat-label>ecoTracto</mat-label>
            <input matInput  formControlName="ecoTracto" placeholder="Digita ecoTracto"
            [ngClass]="{ 'is-invalid': submitted && f.ecoTracto.errors }">
            <mat-error *ngIf="submitted && f.ecoTracto.errors" >Campo Requerido</mat-error>
            </mat-form-field>
            </div>
         </div>

         <div class="col-sm-3">
          <div class="form-group">
          <mat-form-field appearance="legacy">
          <mat-label>tractoPlacas</mat-label>
          <input matInput  formControlName="tractoPlacas" placeholder="Digita tractoPlacas"
          [ngClass]="{ 'is-invalid': submitted && f.tractoPlacas.errors }">
          <mat-error *ngIf="submitted && f.tractoPlacas.errors" >Campo Requerido</mat-error>
          </mat-form-field>
          </div>
         </div>

          <div class="col-sm-3">
            <div class="form-group">
            <mat-form-field appearance="legacy">
            <mat-label>ecoCaja</mat-label>
            <input matInput  formControlName="ecoCaja" placeholder="Digita ecoCaja"
            [ngClass]="{ 'is-invalid': submitted && f.ecoCaja.errors }">
            <mat-error *ngIf="submitted && f.ecoCaja.errors" >Campo Requerido</mat-error>
            </mat-form-field>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
            <mat-form-field appearance="legacy">
            <mat-label>cajaPlacas</mat-label>
            <input matInput  formControlName="cajaPlacas" placeholder="Digita cajaPlacas"
            [ngClass]="{ 'is-invalid': submitted && f.cajaPlacas.errors }">
            <mat-error *ngIf="submitted && f.cajaPlacas.errors" >Campo Requerido</mat-error>
            </mat-form-field>
            </div>
          </div>

       </div>


       <div class="row">

        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field class="example-full-width" #field floatLabel="always" appearance="outline" >
            <mat-label>Vigilancia</mat-label>
            <input type="text"
                  placeholder="Selecciona Personal de vigilancia"
                  aria-label="Personal de Vigilancia"
                  matInput
                  formControlName="surveillance"
                  [matAutocomplete]="autoSurveillance"
                  [ngClass]="{ 'is-invalid': submitted && f.surveillance.errors }">
            <mat-autocomplete #autoSurveillance="matAutocomplete"
            (optionSelected)="optionSelectedSurveillance($event.option.value)"
            [displayWith]="displayPropertySurveillance">
            <mat-option *ngFor="let option of surveillances" [value]="option">
               {{option.firstName}}
            </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && f.surveillance.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <mat-form-field class="example-full-width" #field floatLabel="always" appearance="outline" >
            <mat-label>Supervisor</mat-label>
            <input type="text"
                  placeholder="Calidad / Jefe de turno"
                  aria-label="Calidad / Jefe de turno"
                  matInput
                  formControlName="supervisor"
                  [matAutocomplete]="autoSupervisor"
                  [ngClass]="{ 'is-invalid': submitted && f.supervisor.errors }">
            <mat-autocomplete #autoSupervisor="matAutocomplete"
            (optionSelected)="optionSelectedSupervisor($event.option.value)"
            [displayWith]="displayPropertySupervisor">
            <mat-option *ngFor="let option of supervisors" [value]="option">
               {{option.firstName}}
            </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && f.supervisor.errors" >Campo Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
          <mat-form-field appearance="legacy">
          <mat-label>No: Rampa</mat-label>
          <input matInput  formControlName="noRampa" placeholder="Digita noRampa"
          [ngClass]="{ 'is-invalid': submitted && f.noRampa.errors }">
          <mat-error *ngIf="submitted && f.noRampa.errors" >Campo Requerido</mat-error>
          </mat-form-field>
          </div>
       </div>
        <div class="col-sm-3">
          <div class="form-group">
          <mat-form-field appearance="legacy">
          <mat-label>No: Sello</mat-label>
          <input matInput  formControlName="noSello" placeholder="Digita noSello"
          [ngClass]="{ 'is-invalid': submitted && f.noSello.errors }">
          <mat-error *ngIf="submitted && f.noSello.errors" >Campo Requerido</mat-error>
          </mat-form-field>
          </div>
       </div>
       </div>

       <mat-card-subtitle><h6>Revision de transporte</h6></mat-card-subtitle>



       <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
              <mat-form-field class="example-full-width" appearance="legacy">
              <mat-label>Observacion</mat-label>
              <textarea matInput type="text" formControlName="observation" placeholder="Digita observation"
              [ngClass]="{ 'is-invalid': submitted && f.observation.errors }"></textarea>
              <mat-error *ngIf="submitted && f.observation.errors" >Campo Requerido</mat-error>
              </mat-form-field>


              </div>
           </div>
       </div>

      </mat-dialog-content>
      <!-- mat dialog content -->

    </mat-card-content>

    <!-- actions -->
    <mat-card-actions align="end">
      <mat-dialog-actions align="end">
        <button mat-flat-button [mat-dialog-close]="false" color="warn" >Cancelar</button>
        <button mat-flat-button color="primary" cdkFocusInitial>{{actionBtn}}</button>
      </mat-dialog-actions>
    </mat-card-actions>
    <!--end actions -->
  </mat-card>
</form>
</section>
