<section>
  <mat-card>
    <mat-card-title>Agregar Cliente</mat-card-title>
    <mat-card-content>
      <!--mat dialog content-->
      <mat-dialog-content >
      <!-- grid -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Cliente</mat-label>
              <input matInput [(ngModel)]="model.name" placeholder="Digita Cliente">
              <mat-hint>Cliente</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Telefono</mat-label>
              <input matInput [(ngModel)]="model.address.phone" placeholder="Digita Telefono">
              <mat-hint>Telefono</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Atención</mat-label>
              <input matInput [(ngModel)]="model.address.attention" placeholder="Digita Atención">
              <mat-hint>Atención</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Calle</mat-label>
              <input matInput [(ngModel)]="model.address.text" placeholder="Digita Calle">
              <mat-hint>Calle</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Colonia</mat-label>
              <input matInput [(ngModel)]="model.address.colonia" placeholder="Digita Colonia">
              <mat-hint>Colonia</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Municipio</mat-label>
              <input matInput [(ngModel)]="model.address.district" placeholder="Digita Municipio">
              <mat-hint>Municipio</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Estado</mat-label>
              <input matInput [(ngModel)]="model.address.state" placeholder="Digita Estado">
              <mat-hint>Estado</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Ciudad</mat-label>
              <input matInput [(ngModel)]="model.address.city" placeholder="Digita Codigo Postal">
              <mat-hint>Ciudad</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Codigo Postal</mat-label>
              <input matInput [(ngModel)]="model.address.postalCode" placeholder="Digita Codigo Postal">
              <mat-hint>Codigo Postal</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Pais</mat-label>
              <input matInput [(ngModel)]="model.address.country" placeholder="Digita Pais">
              <mat-hint>Pais</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- end grid-->
      </mat-dialog-content>
      <!-- mat dialog content -->

    </mat-card-content>

    <!-- actions -->
    <mat-card-actions align="end">
      <mat-dialog-actions align="end">
        <button mat-flat-button mat-dialog-close color="warn" (click)="onNoClick()">Cancelar</button>
        <button mat-flat-button [mat-dialog-close]="false" color="primary" cdkFocusInitial (click)="crear()">Aceptar</button>
      </mat-dialog-actions>
    </mat-card-actions>
    <!--end actions -->
  </mat-card>
  </section>
