<mat-dialog-content nb-card status="danger" class="mat-typography">
  <nb-card status="danger">
    <nb-card-header>Eliminar {{nombreModel}}</nb-card-header>
    <nb-card-body class="example-items-rows">
      <p>
        Seguro que deseas eliminar: {{contentDelete}} ?
      </p>
    </nb-card-body>
  </nb-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button nbButton hero shape="semi-round" size="small" status="danger"
      [mat-dialog-close]="false" >Cancelar</button>
    <button nbButton  hero shape="semi-round" size="small" status="primary"
     cdkFocusInitial style="float: left;" (click)="deleteTransportLine()">Si, Eliminar</button>
</mat-dialog-actions>

